@font-face {
  font-family: Montserrat;
  src: url(./lib/Montserrat/Montserrat-Bold.ttf);
  font-weight: 600;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --background: #f4f4d9;
  --h3: #e6a067;
}
body {
  background-color: var(--background);
}
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--h3);
}
.header {
  background-color: var(--background);
  width: 100%;
  height: 70px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.25);
  z-index: 10;
  border-radius: 0px 0px 10px 10px;
}
.header-h1 {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
}
.header .profile-icon {
  width: 78px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  align-content: center;
  position: absolute;
}
.header .profile-icon img {
  height: 29px;
  width: 34px;
}

/* ========================== */
/* =========-Hero-=========== */
/* ========================== */

.full-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  padding-right: 100px;
}
.hero .hero-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}
.hero img {
  width: 100%;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  border-radius: 8px;
  padding: 130px 0;
  padding-left: 120px;
  padding-right: 120px;
  overflow: hidden;
}
.hero .hero-content h1 {
  width: 100%;

  font-weight: 700;
  font-family: "Roboto", "Roboto Placeholder", sans-serif;
  color: #333;
  font-size: 75px;
  letter-spacing: 4px;
  line-height: 1.2;
  text-align: left;
}
.hero-content .hdesc {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-content .hdesc p {
  font-family: "Inter", sans-serif;
  color: #e6a067;
  font-size: 19px;
  line-height: 1.2;
}
.hero-content .hdesc span {
  width: 60px;
  height: 6px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 12px;
}
.hero-content .desc {
  position: relative;
  width: 70%;
}
.hero-content .desc p {
  font-weight: 300;
  font-family: "Roboto", "Roboto Placeholder", sans-serif;
  color: #333;
  font-size: 24px;
  text-align: left;
  text-indent: 50px;
}
.hero-content .desc span {
  width: 40px;
  height: 6px;
  background-color: #e6a067;
  border-radius: 12px;
  position: absolute;
  top: 11px;
  left: 0;
}

.hero .hero-content .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  transform: translateY(40px);
}
.hero .hero-content .CTA-btn {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px 30px;
  background-color: #e6a067;

  border-radius: 8px;

  border-radius: 8px;
  font-weight: 700;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #ffffff;
  font-size: 18px;

  border: none;
}
.hero .hero-content .CTA-btn:hover {
  background-color: rgb(253, 142, 45);
  box-shadow: outset #222 2px 2px;
}
.full-hero .stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  height: 144px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 3px 15px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff999;
  align-content: center;
}
.full-hero .stats .stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12;
}
.full-hero .stats .stat h2 {
  font-weight: 700;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 1.2;
}
.full-hero .stats .stat p {
  font-family: "Inter", sans-serif;
  color: #616060;
  font-size: 21px;
  line-height: 1.2;
}

/* ========================== */
/* =========-main-=========== */
/* ========================== */

.main-section {
  padding-right: 150px;
  padding-left: 150px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  max-width: 100%;
  height: 1050px;
  overflow: hidden;
  margin-top: 100px;
}

/* ========================== */
/* ======-formations-======== */
/* ========================== */

.main-section .formations {
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 65%;
}
.main-section h3 {
  font-size: 36px;
  font-weight: 600;
  padding-left: 10px;
}
.main-section .formations .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.main-section .formations .container .formation {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  width: 320px;
  box-shadow: 0px 0.7961918735236395px 2.3885756205709185px -0.625px rgba(0, 0, 0, 0.05),
    0px 2.414506143104518px 7.2435184293135535px -1.25px rgba(0, 0, 0, 0.05),
    0px 6.382653521484461px 19.147960564453385px -1.875px rgba(0, 0, 0, 0.05),
    0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
  background-color: transparent;
  border-radius: 8px;
  color: #333;
}
.main-section .formations .container .formation .image {
  height: 269px;
  overflow: hidden;
}
.main-section .formations .container .formation .image img {
  height: 100%;
}
.main-section .formations .container .formation .formation-info {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  gap: 2rem;
}

.main-section .formation .formation-info h4 {
  font-family: "Space Grotesk", "Space Grotesk Placeholder", sans-serif;
  color: #333;
  font-size: 17px;
  text-align: left;
  width: 100%;
}
.main-section .formation .formation-info .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section .formation .formation-info .btns h5 {
  font-weight: 500;
  font-family: "Poppins", "Poppins Placeholder", sans-serif;
  color: #333;
  font-size: 15px;
}
.start-btn {
  font-weight: 600;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #e6a067;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  border: none;
  background-color: transparent;
  border: 2px solid #e6a067;
  border-radius: 8px;
  padding: 7px 15px;
}
.start-btn:hover {
  color: #f2f2f2;
  background-color: var(--orange);
}

/* ========================== */
/* =======-promotion-======== */
/* ========================== */

.main-section .promotions {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 35%;
  padding-left: 80px;
  overflow: hidden;
}
.main-section .cont {
  height: 70%;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-section .cont::after,
.main-section .cont::before {
  background: linear-gradient(to bottom, #f4f4d9, rgba(255, 255, 255, 0));
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 2;
}
.main-section .cont::before {
  top: 0;
  left: 0;
}
.main-section .cont::after {
  bottom: 0;
  left: 0;
  transform: rotateZ(180deg);
}
.main-section .promotions .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  to {
    transform: translateY(calc(-100% - 80px));
  }
}

.main-section .promotions .promotion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  box-shadow: 2px 10px 15px 3px rgba(23, 23, 23, 0.2);
  background-color: rgba(255, 255, 255, 0.54);
  padding: 1rem;
  gap: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}
.main-section .promotions .promotion .pro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 13px 10px 13px;
  background-color: #e6a067;
  border-radius: 16px;
}
.main-section .promotions .promotion .pro img {
  width: 50px;
}
.main-section .promotions .promotion h5 {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  width: 100%;
  font-family: "Inter", "Inter Placeholder", sans-serif;
  color: #1c1c1c;
}
.main-section .promotions .promotion span {
  font-weight: 600;
  color: #001f41;
  font-size: 24px;
  font-family: sans-serif;
}

/* ========================== */
/* =======-comments-========= */
/* ========================== */

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  gap: 100px;
}
.comments-section .comForm {
  min-width: 400px;
  width: 100%;
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.comments-section h3 {
  font-size: 42px;
  font-weight: 600;
}
.comments-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 50px;
}
.full {
  width: 100%;
  padding: 11px;
}
.comments-section input,
textarea {
  border: none;
  outline: none;
  width: 96%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
  border: 2.3px solid #001f41;

  border-radius: 12px;
}
.comments-section .send-btn {
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6a067;
  overflow: hidden;
  padding: 0px;
  border: none;
}
textarea {
  min-height: 180px;
}

/* =================================== */

.comments-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  height: 100%;
  width: 100%;
}
#comments-area {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
#comments-area .comment {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #fff;
  padding: 10px;
  gap: 20px;
  padding-bottom: 15px;
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
  padding-left: 50px;
}
#comments-area .comment .image {
  width: 40px;
  overflow: hidden;
  position: absolute;
  top: 3px;
  left: -20px;
}
#comments-area .comment .image img {
  width: 100%;
}
#comments-area .comment h5 {
  font-weight: 600;
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif, "System Default", sans-serif;
  color: #001f41;
  font-size: 16px;
}
#comments-area .comment p {
  font-weight: 400;
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif, "System Default", sans-serif;
  color: #171717;
  font-size: 18px;
}

/* ========================== */
/* ========-navbar-========== */
/* ========================== */

#nav-container {
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: smooth;
  box-shadow: rgba(0, 0, 0, 0.16) 2px 4px 19px 4px,
    rgba(0, 0, 0, 0.145) 0px 0px 15px -2.16667px,
    rgba(0, 0, 0, 0.086) 2px 10px 46.911px -3.25px;
  border: 3px solid #e6a067;
}
.side-bar {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
}

.side-bar .toggle-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  border: none;
  background-color: transparent;
}
.side-bar .toggle-btn img {
  width: 35px;
}
.side-bar .sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  z-index: 999999;
}
.personel-info .profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.personel-info .profile-image h3 {
  color: var(--orange);
}
.personel-info .profile-image img {
  width: 100px;
  height: 100px;
}
.personel-info .info {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.personel-info .info div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.personel-info .info div img {
  width: 25px;
  height: 25px;
}

.links {
  width: 100%;
  padding: 10px;
}

.links .links-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.links .links-content p {
  border-bottom: 1px solid var(--orange);
  padding: 5px;
  padding-left: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333;
}
